//newline to break
@mixin nl2br {
    white-space: pre-wrap;
}

@mixin LiACleanUp {
    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}

@mixin fullWidth {
    width: 100%;
}

@mixin BorderRadius {
    border-radius: 25px;
}

@mixin Grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@mixin Grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@mixin Grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@mixin Grid1{
    display: grid;
    grid-template-columns: 1fr;
}

@mixin ImgScaleDown{
    object-fit: scale-down;
    width: 100%;
}

@mixin GridCenter{
    justify-items: center;
}