/* IMPORT FONTS HERE*/


/* FONTS */
$font-family: arial;


/* COLORS */
$primaryColor: red;
$secondaryColor: Blue;
$highlight: green;
$themeColor: yellow;
$background: black;


/* MEDIA BREAKPOINTS */
$large: 1300px;
$tablet: 980px;
$mobile: 580px;


/* MEDIA COLOR MODS */
$bg-blue: #699;
$bg-red: #c66;
$bg-yellow: #fc6;
$bg-green: #9c9;

