@import '../../../Assets/SCSS/bundle.scss';

footer{
    display: grid;
    grid-template-columns: 2fr .5fr;
    gap: 5%;
    background-color: $secondaryColor;
    padding: 2%;
    color: white;
    
    #footerDivider{
        @include Grid3;
        article{
        
            h2{
                font-size: 1.7rem;
                padding-bottom: 2%;
            }
            p{
                font-size: 1.2rem;
            }
            a{
                display: inline-block;
                color: white;
                font-size: 1.2rem;
            }
        }
    }
    #media{
        display: flex;
        justify-content: flex-end;
        a{
            width: 20%;
            padding: 1%;
            img{
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: $large) {
    footer{
        #footerDivider{
            article{
                h2{
                    font-size: 1.7rem;
                }
            }
            div{
                margin-left: -10%;
                article{
                    padding-bottom: 3%;
                }
            }
        }
        #media{
            margin-left: -50%;
        }
    }
  }
@media screen and (max-width: $tablet) {
  footer{   
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5%;
    #footerDivider{
        margin-left: 2%;
    }
    #media{
        a{
            width: 10%;
            img{
                width: 80%;
            }
            margin-left: -2.5%;
        }
    }
  }
}
@media screen and (max-width: $mobile){
    footer{
        padding-bottom: 15%;
        #footerDivider{
            display: grid;
            grid-template-columns: 1fr;
            gap: 3%;
            div{
                margin: 0;
            }
        }
        #media{
            a{
                width: 12%;
            }
        }
    }
}