@import '../../../Assets/SCSS/bundle.scss';

#NoResult{
    margin-block: 5%;
    font-size: 2rem;
    font-weight: 500;
}

#Results{
    padding-block: 2%;
    font-size: 2.5rem;
    color: $highlightOne;
    font-weight: 400;
}
#ResultWrapper{
    margin-bottom: 2%;
    #headerArticle{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4%;
        border-bottom: 1px solid #20202020;
        padding-bottom: 1%;
        margin-bottom: 1%;
        h4{
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    a{
        .infoArticle{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding-bottom: 1%;
            border-bottom: 1px solid #20202020;
            p{
                color: $secondaryColor;
                font-size: 1.2rem;
                text-align: left;
                margin-left: 40%;
                padding-bottom: 1%;
                &:first-of-type{
                    margin-left: 2%;
                }
                &:nth-of-type(2) {
                    margin-left: 30%;
                }
                &:nth-of-type(3) {
                    margin-left: 35%;
                }
                &:last-of-type{
                    margin-left: 50%;
                }
                &:hover{
                    color: $highlightTwo;
                }
            }
        }
    }
}