@import '../../../Assets/SCSS/bundle.scss';
#DetailWrapper{
    @include Grid1;
    #figureHero{
        width: 100%;
        display: grid;
        justify-items: center;
        img{
            border: 10px solid $primaryColor;
            width: 60%;
        }
        #heroCaption{
            margin-top: 1%;
            border: 2px solid $primaryColor;
            border-bottom: 0;
            width: 100%;
            padding: 1%;
            
            .detailDivider{
                @include Grid2;
                gap: 38%;
                .moveRight{
                    padding-left: 40%;
                }
                h3{
                    font-weight: 400;
                    font-size: 2rem;
                }
            }
        }

    }
    #detailSection{
        border-inline: 2px solid $primaryColor;
        border-top: 0;
        border-bottom: 2px dashed $primaryColor;
        padding: 1%;
        @include Grid1;
        justify-content: space-between;
        gap: 2%;
        #specificEvent{
            display: flex;
            justify-content: space-between;
            padding-top: 2%;
            border-top: 1px solid lightgrey;
            #buyTicketWrapper{
                h1{
                    color: $highlightOne;
                    font-size: 3rem;
                }
                p{
                    font-size: 2rem;
                }
            }
                button{
                    width: 10%;
                    background-color: $primaryColor;
                    border: 0;
                    height: 50%;
                    a{
                        color: white;
                        font-size: 1.4rem
                    }
                    &:hover{
                        background-color: $highlightOne;
                    }
                }
        }
    }
    article{   
        .nl2br{
            @include nl2br;
            color: $highlightOne;
        }
    }
    #EventActors{
        padding-bottom: 2%;
        h3{
            font-size: 2rem;
            font-weight: 300;
            padding-bottom: 2%;
        }
        .EventActorsWrapper{   
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            
            figure{
                border: 1px solid $primaryColor;
                width: 70%;
                img{
                    @include ImgScaleDown;
                }
                figcaption{
                  padding: 2.5%;
                  text-align: center;
                  h4{
                    color: $highlightOne;
                    font-size: 1rem;
                  }  
                }
            }
        }
   }
}