@import '../../../Assets/SCSS/bundle.scss';
#DetailWrapper{
    @include Grid1;
    #figureHero{
        width: 100%;
        display: grid;
        justify-items: center;
        img{
            border: 10px solid $primaryColor;
            width: 60%;
        }
        #heroCaption{
            margin-top: 1%;
            border: 2px solid $primaryColor;
            border-bottom: 0;
            width: 100%;
            padding: 3%;
            
            .detailDivider{
                @include Grid2;
                gap: 35%;
                .moveRight{
                    padding-left: 40%;
                }
                h3{
                    font-weight: 400;
                    font-size: 2rem;
                }
            }
        }

    }
    #detailSection{
        border-inline: 2px solid $primaryColor;
        border-top: 0;
        border-bottom: 2px dashed $primaryColor;
        padding: 3%;
        @include Grid1;
        justify-content: space-between;
        gap: 2%;
        #specificEvent{
            display: flex;
            justify-content: space-between;
            padding-top: 2%;
            border-top: 1px solid lightgrey;
            #buyTicketWrapper{
                h1{
                    color: $highlightOne;
                    font-size: 3rem;
                }
                p{
                    font-size: 2rem;
                }
            }
                button{
                    width: 10%;
                    background-color: $primaryColor;
                    border: 0;
                    height: 50%;
                    a{
                        color: white;
                        font-size: 1.4rem
                    }
                    &:hover{
                        background-color: $highlightOne;
                    }
                }
        }
    }
    article{   
        .nl2br{
            @include nl2br;
            color: $highlightOne;
            font-size: 1.4rem;
        }
    }
    #EventActors{
        padding-bottom: 2%;
        h3{
            font-size: 2rem;
            font-weight: 300;
            padding-bottom: 2%;
        }
        .EventActorsWrapper{   
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding-bottom: 3%;
            margin-bottom: 2%;
            border-bottom: 2px solid #00000020;
            
            figure{
                border: 1px solid $primaryColor;
                width: 70%;
                img{
                    @include ImgScaleDown;
                }
                figcaption{
                  padding: 2.5%;
                  text-align: center;
                  h4{
                    color: $highlightOne;
                    font-size: 1rem;
                    margin-left: -4%;
                  }  
                }
            }
        }
   }
}


//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;


@media screen and (max-width: $large) {
    body{
        #DetailWrapper{
            #figureHero{
                #heroCaption{
                    .detailDivider{
                        grid-template-columns: 2.5fr 1fr;
                        gap: 0;
                        div{
                           p{
                            font-size: 1.3rem;
                           } 
                        }
                        .moveRight{
                            padding-left: 0%;
                            margin-left: -2%;
                            margin-top: 12%;
                        }
                    }
                }
            }
            #detailSection{
                margin-bottom: 5%;
                #specificEvent{
                    button{
                        margin-top: 1.5%;
                        width: 20%;
                    }
                }
                #EventActors{
                    
                    .EventActorsWrapper{
                        grid-template-columns: repeat(4, 1fr);
                        margin-bottom: 5%;
                        a{
                            figure{
                                margin-bottom: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $tablet) {
  body{
    #DetailWrapper{
        #figureHero{
            img{
                width: 100%;
            }
            #heroCaption{
                margin-top: 0;
                .detailDivider{
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20%;
                }
            }
        }
        #detailSection{
            padding-bottom: 10%;
            #specificEvent{
                button{
                    width: 30%;
                }
            }
            #EventActors{
                .EventActorsWrapper{
                    grid-template-columns: repeat(3, 1fr);
                    a{
                        figure{
                            margin-bottom: 20%;
                        }
                    }
                }
            }
        }
        
    }
  }
}
@media screen and (max-width: $mobile){
    body{
        #DetailWrapper{
            #figureHero{
                #heroCaption{
                    .detailDivider{
                        margin-bottom: 10%;
                        @include Grid1;
                        h3{
                            font-size: 1.7rem;
                        }
                        .moveRight{
                            margin: 0;
                        }
                    }
                }
            }
            #detailSection{
                #specificEvent{
                    @include Grid1;
                    button{
                        width: 50%;
                        height: fit-content;
                        padding: 2%;
    
                    }
                }
                #EventActors{
                    margin-bottom: 10%;
                    h3{
                        text-align: center;
                    }
                    .EventActorsWrapper{
                        grid-template-columns: repeat(2, 1fr);
                        gap: 3%;
                        padding: 3%;
                        padding-bottom: 30%;
                        
                        a{
                            figure{
                                width: 90%;
                                margin: auto;
                                figcaption{
                                    h4{
                                        font-weight: 400;
                                        font-size: 1rem;
                                        margin-left: -2%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}