@import '../../../Assets/SCSS/bundle.scss';

.Oversigt{
    font-size: 3.5rem;
    padding-block: 2%;
    color: $highlightOne;
    text-align: right;
    font-weight: 500;
}
#EventListSection{
    @include Grid1;
    margin-bottom: 2%;
    .mainArticle{
        display: grid;
        grid-template-columns: 2fr 1fr;
        border: 1px solid $highlightOne;
        padding-right: 1%;
        margin-bottom: .5%;
        .testWrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
            figure{
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 2%;
                img{
                    // @include ImgScaleDown;
                    width: 80%;
                }
                figcaption{
                    margin-block: auto;
                    h2{
                        margin-left: -5%;
                        color: $highlightOne;
                        font-size: 2.3rem;
                        font-weight: 500;
                    }
                }
            }
            .eventStageDate{
                border-left: 2px solid #77889930;
                padding-left: 8%;
                margin-left: -30%;
                margin-block: auto;
                p{
                    font-size: 1.3rem;
                    font-weight: 300;
                }
                h3{
                    font-size: 1.5rem;
                }
            }
        }
            .eventButtons{
            display: flex;
            margin-block: auto;
            margin-left: 20%;
            button{
                border: 0;
                padding: 2%;
                font-size: 1.3rem;
                margin-left: 2.5%;
                width: 50%;
                
                &.blue{
                    background-color: $secondaryColor;
                    &:hover{
                        background-color: $highlightTwo;
                    }
                }
                &.yellow{
                    background-color: $primaryColor;
                    &:hover{
                        background-color: $highlightOne;
                    }
                }
            a{
                color: white;
                padding: 1%;
            }
            }
        }
    }
}


//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;


@media screen and (max-width: $large) {
    body{
      #EventListSection{
        .mainArticle{
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 10%;
            .eventButtons{
                position: absolute;
                width: 50%;
                left: 30%;
                bottom: -70%;
                button{
                    margin-bottom: 3%;
                }
            }
        }
      }
    }
  }
@media screen and (max-width: $tablet) {
  body{
    #EventListSection{
        .mainArticle{
            margin-bottom: 10%;
            .testWrapper{
                grid-template-columns: 1fr 1fr;
                figure{
                    figcaption{
                        h2{
                            margin-left: -9%;
                            font-size: 1.8rem;
                        }
                    }
                }
                .eventStageDate{
                    margin: 0;
                    margin-block: auto;
                    h3{
                        font-size: 1.4rem;
                    }
                }
            }
            .eventButtons{
                bottom: -100%;
            }
        }
    }    
  }
}
@media screen and (max-width: $mobile){
    body{
        .Oversigt{
            text-align: left;
            padding-block: 5%;
        }
        #EventListSection{
            .mainArticle{
                padding:0;
                padding-bottom: 5%;
                display: grid;
                @include Grid1;   
                .testWrapper{
                    @include Grid1;
                    figure{
                        @include Grid1;
                        img{
                            width: 100%;
                        }
                        figcaption{
                            padding: 1%;
                            text-align: center;
                            h2{
                                margin: 0;
                                padding: 0;
                                
                            }
                        }
                    }
                    .eventStageDate{
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        
                    }
                }
                .eventButtons{
                    position: unset;
                    margin: auto;
                    margin-top: 10%;
                    width: 80%;
                }
            }
        }
        }
}